/* line 1, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
body {
  background-color: #425066;
  line-height: 28px;
  font-size: 18px; }

/* line 7, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
header {
  margin-top: 30px; }
  /* line 10, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
  header a:link, header a:visited {
    color: #000;
    text-decoration: none; }

/* line 16, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
.content {
  background-color: white;
  margin: 32px auto 32px auto;
  max-width: 1000px;
  padding-left: 30px; }

/* line 23, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
.main-content {
  margin-right: 1em;
  margin-bottom: 4em;
  padding: 0px 12px; }

/* line 29, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
.row-fluid .sidebar {
  position: relative;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 40px;
  float: right; }

/* line 37, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
.socials {
  margin-right: 12px; }

/* line 41, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
.nav a.social-networks {
  padding: 0; }

/* line 45, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
.metadata {
  font-size: 15px;
  margin-top: 20px;
  padding: 5px 0px;
  color: #666666; }

/* line 52, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
article {
  padding-right: 60px; }

/* line 56, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
.recently {
  padding: 3px 5px;
  background-color: #f2f2f2;
  margin-bottom: 20px; }

/* line 64, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
h3 a:link, h3 a:visited {
  color: #333333;
  text-decoration: none; }

/* line 75, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
aside {
  margin-bottom: 60px;
  background-color: #EBF0F5; }
  /* line 64, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
  aside a:link, aside a:visited {
    color: #333333;
    text-decoration: none; }
  /* line 77, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
  aside p {
    font-size: 16px;
    line-height: 22px; }
  /* line 82, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
  aside h4 {
    font-weight: normal;
    color: #fff;
    background-color: #5383c3;
    margin: 0px;
    padding: 6px;
    letter-spacing: 1px; }
  /* line 91, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
  aside hr {
    margin: 10px 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF; }
  /* line 97, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
  aside .recently-articles {
    padding: 8px; }
  /* line 98, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
  aside img {
    margin: 20px; }

/* line 104, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
ul.tags {
  margin: 0;
  padding: 5px 8px;
  list-style: none; }
  /* line 109, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
  ul.tags li {
    display: inline-block;
    margin: 4px 1px;
    padding: 1px 4px;
    line-height: 24px;
    font-size: 15px;
    background-color: #47885e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    /* line 120, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
    ul.tags li a:link, ul.tags li a:visited {
      color: #fff; }

/* line 126, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
pre code {
  font-size: 14px; }

/* line 127, /Users/syd/Programming/middleman-blog/source/stylesheets/style.css.scss */
code {
  font-size: 13px; }
